[Unit]
Description=External extension updater for Chromium based browsers
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/chromexup
